<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Login</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
      <ion-item>
          <ion-label floating>Email Address</ion-label>
          <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  
      </ion-item>
  
  
    <ion-item>
        <ion-label floating> Password</ion-label>
        <ion-input type="text" [(ngModel)]="user.password"></ion-input>
  
    </ion-item>
    <button ion-button (click)="login(user)">Login</button>
    <button ion-button (click)="register()">Register</button>
    <button ion-button (click)="resetpwd()">Forgot Password?</button>

  
  </ion-content>
  
