<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input type="text" [(ngModel)]="user.email"></ion-input>

    </ion-item>

    <ion-item>
      <ion-label floating> First Name</ion-label>
      <ion-input type="text" [(ngModel)]="user.firstName"></ion-input>

  </ion-item>
  <ion-item>
    <ion-label floating> Last Name</ion-label>
    <ion-input type="text" [(ngModel)]="user.lastName"></ion-input>

</ion-item>

<ion-item>
  <ion-label floating>Phone Number (including country code e.g 353833067326</ion-label>
  <ion-input type="text" [(ngModel)]="user.phoneNumber"></ion-input>

</ion-item>


  <ion-item>
      <ion-label floating> Password</ion-label>
      <ion-input type="text" [(ngModel)]="user.password"></ion-input>

  </ion-item>

  
  
  <button ion-button (click)="register(user)">Register</button>

</ion-content>
