<!--
  Generated template for the MyNodesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>myNodes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <button ion-button clear item-right (click)= "viewMyNodeInfo()">
       
      </button>

     
    </ion-item>

</ion-list>
</ion-content>
