



<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ viewTitle }}
    </ion-title>
    <ion-buttons end>
        <button ion-button [disabled]="isToday" (click)="today(); click()">Today</button>
        <button ion-button (click)="changeMode('month'); click()">M</button>
        <button ion-button (click)="changeMode('week'); click()">W</button>
        <button ion-button (click)="changeMode('day'); click()">D</button>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

 
<ion-content>
<calendar   step="30"
 [eventSource]="eventSource"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        (onCurrentDateChanged)="onCurrentDateChanged($event)"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onTimeSelected($event)"
        formatHourColumn= HH:mm
        formatWeekTitle = MMMM yyyy
        [startHour]= "this.startHour"
        [endHour]="this.endHour"
        step = 15;
       >

      </calendar>
</ion-content>







