<ion-header>
  <ion-navbar>
    <ion-title>
      My Account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <button ion-button clear item-right (click)="viewAccountInfo()">
        Account Info
      </button>
      <button ion-button clear item-right (click)="viewMyNodes()">
        Nodes
      </button>

      <button ion-button clear (click)="logout()">
        Logout
      </button>


      <button ion-button (click)="nodeBooking()">Node Booking</button>
    </ion-item>


  </ion-list>

</ion-content>