<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Event Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input type="text"  [(ngModel)]="this.nodeAddress" [readonly] = true ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Start</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" minuteValue="0,10,20,30,40,50" pickerFormat="MMM D:HH:mm" minuteValues="0,10,20,30,40,50"
        [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" minuteValue="0,10,20,30,40,50" pickerFormat="MMM D:HH:mm" minuteValues="0,10,20,30,40,50"
        [(ngModel)]="event.endTime"   [min]="minDate"></ion-datetime>
    </ion-item>

    
  </ion-list>

  <button ion-button full icon-left (click)="save()">
    <ion-icon name="checkmark"></ion-icon> Add Event
  </button>

<ion-item>
  <p *ngIf="this.overlap === true "> Your Booking overlaps with another. Please choose A free time slot </p>
  <p *ngIf="this.sameDate === false "> Your Booking crosses 2 days. Please ensure your booking is on one day only </p>
  <p *ngIf="this.greaterThan == true ">Start time cannot be greater than the end time. </p>
  <p *ngIf="this.equal == true ">Start time cannot be the same as end time. </p>

</ion-item>

</ion-content>