<ion-header>
  <ion-navbar>
    <ion-title>
      Map
      <ion-buttons end>
      
         <button ion-button (click)="addNode() ">Add Node</button>
         <button ion-button (click)="currentUser() ">currentUser</button>
    
        </ion-buttons>
    </ion-title>
  </ion-navbar>
 
  </ion-header>

<ion-content>
  <div #map id="map"></div>
  

</ion-content>
