<!--
  Generated template for the ResetpwdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Reset Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input type="text" [(ngModel)]="user.email"></ion-input>

    </ion-item>

  
  <button ion-button [disabled]="disabled" (click)="resetPwd(); " >Register</button>

</ion-content>



