<ion-header>
    <ion-navbar>
      <ion-title>
        MyAccountInfo
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>

    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]= startTime >
        <ion-option value= 0>00:00</ion-option>
        <ion-option value="1">1:00</ion-option>
        <ion-option value="2">2:00</ion-option>
        <ion-option value="3">3:00</ion-option>
        <ion-option value="4">4:00</ion-option>
        <ion-option value="5">5:00</ion-option>
        <ion-option value="6">6:00</ion-option>
        <ion-option value="7">7:00</ion-option>
        <ion-option value="8">8:00</ion-option>
        <ion-option value="9">9:00</ion-option>
        <ion-option value="10">10:00</ion-option>
        <ion-option value="11">11:00</ion-option>
        <ion-option value="12">12:00</ion-option>
        <ion-option value="13">13:00</ion-option>
        <ion-option value="14">14:00</ion-option>
        <ion-option value="15">15:00</ion-option>
        <ion-option value="16">16:00</ion-option>
        <ion-option value="17">17:00</ion-option>
        <ion-option value="18">18:00</ion-option>
        <ion-option value="19">19:00</ion-option>
        <ion-option value="20">20:00</ion-option>
        <ion-option value="21">21:00</ion-option>
        <ion-option value="22">22:00</ion-option>
        <ion-option value="23">23:00</ion-option>
        <ion-option value="24">24:00</ion-option>
       
      </ion-select>
    </ion-item>
 <ion-item>
    <button ion-button (click)=createNode()>Register</button>
 </ion-item>
  </ion-content>
  